@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #fffffff0;
  --foreground: #000000;
}

.dark {
  --background: #05000f;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
